<div class="todo">
  <body background="/assets/ropa2.jpeg">
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
          <img src="/assets/logop.gif" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form class="form">
          <input

            id="login"
            class="form-control col-9 m-5"
            name="login"
            placeholder="Usuario"
            [(ngModel)]="this.usuarioEscrito"
          />
          <input
            type="password"
            id="password"
            class="form-control col-9 m-5"
            name="login"
            placeholder="Contraseña"
            [(ngModel)]="this.contrasenaEscrita"
          />
          <input type="submit" class="fadeIn fourth" value="Entrar" (click)="comprobarusuario()" />
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" (click)="noImplementado()">Recuperar contraseña/ Crear nuevo usuario</a>
        </div>
      </div>
    </div>
  </body>
</div>

