
h1{
  margin: 1em;
}

img {
  max-width: 200px;
  margin: 1em;
}

.flex-buttons {
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: 400px;
  margin: 2em;

}

button {
  padding: .2em 2em;
}
