<edix-navbar></edix-navbar>
<div class="">
  <h1 class="h1">Productos</h1>
  <ul class="list-group">
    <div *ngFor="let p of products" class="col">
      <div class="card col-6">
        <img src="{{ p.imagen }}" class="card-img-top" alt="product img" />
        <div class="card-body">
          <h5 class="card-title">{{ p.nombre }}</h5>
          <p class="card-text">
            {{ "Nombre: " + p.descripcion }}
          </p>
          <p class="card-text">
            {{ "Categoría: " + p.categoria }}
          </p>
          <p class="card-text">
            {{ "Precio compra : " + p.precioCompra + "€" }}
          </p>
          <p class="card-text">
            {{ "Precio Venta: " + p.precio + "€" }}
          </p>
          <p class="card-text">
            {{ "Cantidad: " + p.cantidad }}
          </p>
        </div>
      </div>
    </div>
  </ul>
  <div>
    <div class="flex-buttons">
      <button
        class="btn btn-warning dark me-md-2"
        type="button"
        (click)="VueltaAPrincipal()"
      >
        Principal
      </button>

      <button
        class="btn btn-warning dark me-md-4"
        type="button"
        (click)="VueltaAAgregar()"
      >
        Agregar otro producto
      </button>
    </div>
  </div>
</div>
