{{this.data| json}}
<body background="/assets/ropa.jpeg">
  <div class="caja">

    <form class="form">
      <h1>AGREGAR PRODUCTO</h1>
      <div class="col-6">
        <label for="nombreProducto" class="col-sm-3 col-form-label is-required"
          >Nombre</label
        >
        <input
          id="nombreProducto"
          name="nombreProducto"
          type="text"
          class="form-control"
          placeholder="Nombre"
          [(ngModel)]="data.nombreProducto"
        />
      </div>
      <div class="col-6">
        <label for="lista" class="col-sm-3 col-form-label is-required"
        >Categorias</label
      >
      <select
        id="lista"
        name="lista"
        class="form-control"
        [(ngModel)]="data.categoriaProducto"
      >
        <ng-container *ngIf="lista">
          <option
            *ngFor="let item of lista"
            [value]="item.clave"
          >
            {{ item.nombreCategoria }}
          </option>
        </ng-container>
      </select>
    </div>
      <div class="col-6">
        <label for="descripcion" class="form-label is-required"
          >Descripcion
        </label>
        <textarea
          class="form-control"
          id="descripcion"
          name="descripcion"
          rows="3"
          placeholder="Descripción del producto"
          [(ngModel)]="data.descripcionProducto"
        ></textarea>
      </div>
      <div class="col-6">
        <label for="precioCompra" class="form-label is-required">Precio Compra </label>
        <input
          id="precioCompra"
          name="precioCompra"
          type="text"
          class="form-control"
          placeholder="Precio Compra"
          [(ngModel)]="data.precioCompraProducto"
        />
      </div>
      <div class="col-6">
        <label for="precio" class="form-label is-required">Precio venta</label>
        <input
          id="precio"
          name="precio"
          type="text"
          class="form-control"
          placeholder="Precio Venta"
          [(ngModel)]="data.precioVentaProducto"
        />
      </div>
      <div class="col-6">
        <label for="cantidadProducto" class="form-label is-required">Cantidad</label>
        <input
          id="cantidadProducto"
          name="cantidadProducto"
          type="text"
          class="form-control"
          placeholder="Unidades"
          [(ngModel)]="data.cantidadProducto"
        />
      </div>
      <div class="col-6">
        <label for="imagen" class="form-label is-required">Imagen </label><br>
        <input
          id="imagen"
          name="imagen"
          type="file"
          accept=".png, .jpg, .jpeg"
          [(ngModel)]="data.imagen"
        />
      </div>

      <div>
        <div class="flex-buttons">
          <button
            class="btn btn-warning dark me-md-2"
            type="button"
            (click)="atras()"
          >
            Atrás
          </button>

          <button
            class="btn btn-warning dark me-md-4"
            type="button"
            (click)="saveProduct()"
          >
            Subir
          </button>
        </div>
      </div>
    </form>
  </div>
</body>
